<!DOCTYPE html>
<html>
	<head>
		<title>Trim Activation</title>
		<style type='text/css'>
			@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
            
            .table__parent
            {
                padding:50px;
            }

			@media(max-width:610px)
			{
                .table__parent
                {
                    padding:10px;
                }

				.table__main
				{
					width:100%;
				}
			}
		</style>
	</head>
	<body style='margin:0; padding:0; font-family:"Quicksand", "Century Gothic", "Trebuchet MS", "Verdana", sans-serif; color:#000;'>
		<table width='100%' class='table__parent' cellpadding="0" cellspacing="0" style='background:#FBFBFB;font-size:1.1em;'>
			<tr>
				<td>
					<table width='600px' class='table__main' align="center" cellpadding="0" cellspacing="0" bgcolor="white"
					style='padding:30px;'>
						<tr>
							<td align='center'>
                                <img style='position:relative; left:calc((100% - 40px)/2)' width='40px' height='40px' src="cid:link.png" 
                            </td>
						</tr>
						<tr>
							<td>
								<p style='margin:15px 0 12px 0;font-weight:bold; text-align:center'>Trim Password Change</p>
							</td>
						</tr>
						<tr>
							<td>
								<div style='line-height: 1.7; text-align:justify;'>
									Hello {{ name.split(' ')[1] }}. A password reset request was made on your Trim account. Click the
									link below to complete the process and change your password. This link expires at {{ reset.expires_at.strftime('%H:%M') }} today.
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div style='margin:12px 0 2px 0'>
									<a href='{{ client_url }}/password/reset/{{ reset.token }}' style='color:#000; font-size:1em; border-radius:5px;'>
										{{ client_url }}/password/reset
									</a>									
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div style='margin-top:10px;'>
									With love,<br/> <p style='margin:6px 0'></p>
									The Trim Team
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>